@import '~@angular/material/theming';

@mixin gp-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  

  mat-sidenav-container {
    mat-toolbar {
      button {
        &.active {
          color: mat-color($accent, default-contrast);
          background-color: mat-color($accent);
        }
      }
      .sign-in-button {
        color: mat-color($accent);
        border: 1px solid mat-color($accent);
      }
      .link {
        color: mat-color($primary, default-contrast);
      }
    }
  
  }
  .mat-drawer {
    background-color:  mat-color($primary);
     color: mat-color($primary, default-contrast) !important;
  }
  
  mat-sidenav {
    .mat-list-item {
      background-color: mat-color($primary);
       color: mat-color($primary, default-contrast) !important;
      
      &.active {
        color: mat-color($accent, default-contrast);
        background-color: mat-color($accent, darker) !important;
        
        }
      &:hover {
        background-color: mat-color($accent) !important;
        color: mat-color($accent, default-contrast);
    }
    }
  }
  .footer {
    color: mat-color($primary, default-contrast);
    background-color: mat-color($primary, darker);
    .links,
    .signature {
      a {
        color: mat-color($primary, lighter);
        &:hover {
          color: mat-color($accent);
        }
      }
    }
  }
  /* table {
    border-color: mat-color($primary, default-contrast);
    thead {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
    }
  }
  a {
    &:hover {
      color: mat-color($primary, darker);
    }
  } */
}

