<div *ngIf="!auth.loggedIn" class="bg justify-content-center align-items-center vertical-center" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</div>

<div *ngIf="auth.loggedIn" class="contenedor">
  <mat-toolbar color="primary" class="toolbar">
    <div class="row justify-content-between" style="min-width: 100%;">
      <div class="col-auto mr-auto">
        <button mat-icon-button class="" (click)="snav.toggle()">
          <mat-icon fontSet="fas" fontIcon="fa-bars"></mat-icon>
        </button>

        <span routerLink="" class="branding spacer">
          <img [src]="logo" class="" style="max-height: 40px" /> GesProyect</span>
      </div>
      <div class="col-auto ">
        <button mat-stroked-button matLine class="d-none d-lg-block" *ngIf="auth.loggedIn" [matMenuTriggerFor]="toolbarUserMenu">

          {{auth.currentUser.nombre + ' ' + auth.currentUser.apellido}}

          <mat-icon>person</mat-icon>
        </button>
        <button mat-stroked-button matLine class="d-lg-none" *ngIf="auth.loggedIn" [matMenuTriggerFor]="toolbarUserMenu">

          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
          <button mat-menu-item (click)="onLogoutClick()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
          <button mat-menu-item routerLink="settings" class="d-none d-sm-inline">
            <mat-icon>settings</mat-icon>
            <span>Configuración</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <gp-sidebar></gp-sidebar>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="footer">Footer</mat-toolbar>


</div>