@import '../styles-variables';


.bg {
  min-width: 100%;
  min-height: 100%;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
  .toolbar {
    position: fixed;
    width: 100%;
    display: flex;
    .nav-button {
      margin: 0 10px 0 0;
    }
    mat-icon {
      font-size: 24px;
    }
    .branding {
      cursor: pointer;
      padding-top: 4px;
      &.center {
        text-align: center;
      }
      img {
        position: relative;
        top: -2px;
        width: 48px;
        height: 48px;
      }
    }
    .sign-in-button {
      line-height: 35px;
      margin-right: 10px;
    }
    .spacer {
      flex: 1 1 auto;
    }
    @media (max-width: map-get($grid-breakpoints, lg)) {
      .nav-button {
        min-width: 0;
        padding: 0 10px;
      }
      .sign-in-button {
        min-width: 0;
        padding: 0 10px;
        margin: 0 5px 0 0;
      }
    }
  }
  .wrapper {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    .content {
      position: relative;
      flex: 1 0 auto;
    }
    .footer {
      flex: 0 0 auto;
      padding: 0 15px;
      text-align: center;
      .row {
        padding: 10px 0;
        .links {
          a {
            transition: padding 0.5s;
            display: inline-block;
            padding: 20px 5px;
            &:hover {
              text-decoration: none;
            }
            mat-icon {
              font-size: 30px;
              width: 35px;
            }
            span {
              display: inline-block;
              width: 75px;
              padding: 0 0 0 3px;
              overflow: hidden;
              text-align: left;
              white-space: nowrap;
              transition: width 0.5s;
            }
          }
          @media (min-width: map-get($grid-breakpoints, lg)) {
            a {
              padding: 20px 10px;
            }
          }
          @media (max-width: map-get($grid-breakpoints, md)) {
            a {
              padding: 20px;
              span {
                width: 0;
                padding: 0;
              }
            }
          }
          @media (max-width: map-get($grid-breakpoints, sm)) {
            a {
              padding: 20px 5px;
            }
          }
        }
        @media (min-width: map-get($grid-breakpoints, sm)) {
          .signature {
            position: relative;
            a {
              position: absolute;
              right: 15px;
            }
          }
        }
      }
    }
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    .wrapper {
      top: 56px;
    }
  }
}

mat-sidenav {
  width: 250px;
  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;
    img {
      height: 48px;
      margin: 2px 10px 0 0;
    }
    span {
      position: relative;
      top: 3px;
    }
  }
  .mat-nav-list {
    padding-top: 0;
  }
}

mat-sidenav-content {
  min-height: 100%;
  min-height: 100vh;
}

body,
html {
  min-width: 100%;
  min-height: 100%;
}

a{
  text-decoration: none;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
