@import '~@angular/material/theming';

@mixin gp-dashboard-component-theme($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);

  .btn-dash{
    background: mat-color($accent);
    color: mat-color($accent,default-contrast);
    min-width: 100%;
    height: 10vh;

  }
  .dash {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .mat-nav-list {    
    background: mat-color($accent);
  }
  .lista {
    color: mat-color($accent,default-contrast);
  }
  .mat-calendar-table-header {
    background-color: transparent
  }
}
