@import '~@angular/material/theming';

@mixin gp-interventoria-component-theme($theme) {
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $primary: map-get($theme, primary);


  .interventoria{
    max-width: 1em;
    max-height: 1em;

    width: 1em;
    height: 1em;
    background: mat-color($primary);
    color: mat-color($primary,default-contrast);
    border-radius: 50%
  }
  .sinInterventoria{
    max-width: 1em;
    max-height: 1em;
    width: 1em;
     height: 1em;
    background: mat-color($warn);
    color: mat-color($warn,default-contrast);
    border-radius: 50%
  }
  .otraInterventoria{
    max-width: 1em;
    max-height: 1em;
    width: 1em;
     height: 1em;
    background: mat-color($accent);
    color: mat-color($accent,default-contrast);
    border-radius: 50%
  }
}
